

{% extends "base.html" %}
{% load static %}
<title>Oak Smoke Bakery {% block extra_title %} Home {% endblock %}</title>

{% block content %}

<div class="container text-center index_transcript"> 
<div ><img src="/media/oaksmokelogo.webp"></div>
   <h1 class="mt-3"><strong> Lights up your taste buds!</strong></h1>
   <hr>
<h2 >We deliver fresh gourmet sandwiches, bread, cakes and confectionery to your door in Dublin City!</h2>
<h2> - Monday to Saturday from 10AM to 4PM.</h2>
- Free deliveries for orders over €80.
- Order two days in advance.
- Minimum order €40.
</div> 
{% endblock %}